{% extends 'catalog/base.html' %}

{% block title %}Варница: согласие на обработку персональных данных{% endblock %}

{% block content %}
<div class="contact-layout btn-contact-main" xmlns="http://www.w3.org/1999/html">
    <div class="contact-action-section" style="padding-bottom: 15px; margin: 15px;">
        <div style="display: flex; justify-content: center; align-items: center; padding: 10px;">
            <h1>Согласие на обработку персональных данных</h1>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; padding: 10px;">
            <h6>Пользователь данного Интернет-сайта (далее – Интернет-сайт), принадлежащего ООО «Варница», имеющего местонахождение по адресу: 215850, Российская Федерация, Смоленская область, Кардымовский район, пгт. Кардымово, ул. Ленина, дом 55-А (далее – Общество), заполняя анкету, оформляя информационную подписку на новости и мероприятия Общества, направляя Обществу сообщения через электронные формы обратной связи, а также совершая иные действия, связанные с предоставлением Обществу персональных данных, предоставляет Обществу настоящее Согласие на обработку персональных данных (далее — Согласие) на следующих условиях:<br><br>

Настоящее Согласие дается на обработку персональных данных, совершаемых с использованием средств автоматизации или без использования таких средств, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br>

В настоящем Согласии под персональными данными Пользователя понимаются указанные им (все или некоторые из нижеуказанных категорий) фамилия, имя, отчество; номера контактных телефонов; адрес электронной почты; дата рождения; пол; серия и номер паспорта; дата выдачи и государственный орган, выдавший паспорт; сведения о месте жительства: страна, регион, район, город, почтовый индекс, название улицы, номер дома, квартиры.<br>

Согласие на обработку персональных данных Пользователя дается в целях предоставления Пользователю информации о деятельности Общества, а также индивидуального общения с Пользователем, в том числе для ответов на обращения Пользователя через электронные формы обратной связи на Интернет-сайте.<br>

Срок действия настоящего Согласия – до достижения целей обработки персональных данных. Согласие может быть отозвано в любое время на основании письменного заявления Пользователя.</h6>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center align-items-center mt-4 p-3">
    <a href="{% url 'catalog:home' %}" class="btn btn-lg" style="background: #A52A2A; color: white;">← На главную</a>
</div>
{% endblock %}