{% load static %}
<div class="pricing-header px-3 py-2 mx-auto rounded"
     style="background: rgba(62, 39, 35); border: 1px solid #8D6E63;">
    <!-- Первая строка -->
    <div class="d-flex justify-content-center align-items-start flex-wrap gap-4 mb-3">
        <!-- Копирайт -->
        <div class="copyright text-center" style="color:white;">
            © 2025 ВАРНИЦА <br>Все права защищены
        </div>

        <!-- Телефоны -->
        <div class="footer-links footer-phones text-center" style="color:white;">
            <div>+7 (48167) <span>4 10 93</span></div>
            <div>+7 (495) <span>442 25 34</span></div>
        </div>

        <!-- Адрес, время работы и email -->
        <div class="footer-links footer-times text-center" style="color:white; max-width: 400px;">
            <div class="address mb-1">
                215850, Смоленская область, Кардымовский район,<br/> пгт Кардымово, улица Ленина, дом 55а
            </div>
            <div class="worktime mb-1">
                пн-пт с 8:00 до 16:30, сб-вс - вых.
            </div>
            <a href="mailto:contact@litra-beer.ru" class="lw-mail">
                contact@litra-beer.ru
            </a>
        </div>
    </div>

    <!-- Вторая строка -->
    <div class="text-center">
        <div class="footer-info" style="color:white; font-size: 0.9rem;">
            Материалы размещенные на сайте носят информационный характер и не являются публичной
            офертой.<br/>Данный сайт не занимается продажей
        </div>
    </div>
</div>

<div class="warning-alcohol__wrapper">
    чрезмерное употребление алкоголя вредит вашему здоровью
</div>
